<div class="container">
  <h2>Management Page</h2>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <button routerLink="/register" class="reg-button">Add User</button>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" key="user.id">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="delete-button" (click)="deleteUser(user.id)">Delete</button>
        <button class="update-button" (click)="navigateToUpdate(user.id)">Update</button>
        <button class="payment-button" (click)="navigateToPayEmployee()">Payment</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
