
#contianer{
    margin-left: auto;
margin-right: auto;
max-height: 100px;
    overflow-y: hidden;
}

#contianer img{
    float: center;
    
}

.leave{

    
    border-style: ridge;
    border-radius: 12px;
    margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 80px;
  width: 350px;
  height: 400px;
  float: left;
  background-color: aliceblue;
    /* margin: 1em; */

}
.profile{
    border-style: ridge;
    border-radius: 12px;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
    align-content: center;
    background-color: aliceblue;
  
  
}


.payslip{
    border-style: ridge;
    border-radius: 12px;
    width: 350px;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 300px;
    float: left;
    background-color: aliceblue;
    /* margin: 1em; */
}
.grievance{
  border: 1px solid #ccc;
  border-radius: 30px;
    width: 350px;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 80px;
    float: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
   
  
    /* margin: 1em; */
}
.profile{
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
#btProfile{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0;
  bottom: 0;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

