<div class="profile">
    <img  src="https://cdn3.iconfinder.com/data/icons/users-6/100/654854-user-women-4096.png"  width="300" height="300">
    <button  id="btProfile" (click)="goToProfile()">View Profile</button>
</div>
<div id="container" id="pos" >
   <div class="payslip"> 
       <h2 style="text-align: center;">Payslip</h2>
       <img  src="https://uploads-ssl.webflow.com/5ff71e7932ba4f20026240b8/60e5c9cb64dee46933ce666a_payroll%20management.png"  width="200" height="200">"  
       <button  id="btProfile" (click)="goToPayslip()">View Payslip</button>
       
   </div>
   <div class="leave">
       <h2 style="text-align: center;">Leave</h2>
       <img  src="https://cdn.iconscout.com/icon/premium/png-512-thumb/leave-8755439-7189085.png?f=webp&w=256"  width="200" height="200">
       <button  id="btProfile" (click)="goToApplyleave()">Apply for Leave</button>
       <br>
       <button  id="btProfile" (click)="leavelistdetails()">View Leave</button>
   </div>
   <div class=" grievance">
       <h2 style="text-align: center;">Grievance</h2>
       <img  src="https://thumbs.dreamstime.com/b/grievance-icon-trendy-logo-concept-white-backgroun-background-human-resources-collection-133513504.jpg" width="200" height="200">
       <button  id="btProfile" (click)="goTologGrievance()">Log Grievance</button>
       <br>
       <button  id="btProfile" (click)="grievanceList()">View Grievance</button>
   </div>
   
</div>

